@*@model IEnumerable<Market_Store.Models.Productt>*@

@{
    ViewData["Title"] = "date";
    Layout = "~/Views/Shared/_LayoutAdminDashboard.cshtml";
}

<br />
<div class="container">
    <div class="form-group">
        <div class="row">
            <label class="control-label col-sm-2" for="User">Username:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="Username" name="Username" placeholder="Enter Username" onchange="UserCheck()">
            </div>
        </div>
        <div class="row">
            <label class="col-sm-2"></label>
            <div class="col-sm-10">
                <p id="Status" />
            </div>
        </div>
        <div class="row">
            <label class="control-label col-sm-2" for="Pwd">Password:</label>
            <div class="col-sm-10">
                <input class="form-control" type="Password" id="Password" name="Password" placeholder="Enter Password" onchange="UserCheck()">
            </div>
        </div>
    </div>
</div>
<script>
    function UserCheck() {
        $("#Status").html("Checking...");
        $.post("@Url.Action("UsernameExists", "Userts")",
            {
                userdata: $("#Username").val()
            },
        function (data) {
            if (data == 0) {
                $("#Status").html('<font color="Green">Available !. you can take it.</font>');
                $("#Username").css("border-color", "Green");

            }
            else {
                $("#Status").html('<font color="Red">That name is taken.Try Another.</font>');
                $("#Username").css("border-color", "Red");
            }
        });
    }
</script>