@model Market_Store.Models.Usert
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_LayoutHomePanel.cshtml";
}

    <!--Body Content-->
    <div id="page-content">
    	<!--Page Title-->
    	<div class="page section-header text-center">
			<div class="page-title">
        		<div class="wrapper"><h1 class="page-width">Login</h1></div>
      		</div>
		</div>
        <!--End Page Title-->
        
        <div class="container">
        	<div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                	<div class="mb-4">
                       <form  asp-action="Login" asp-controller="LoginRegisteration" id="CustomerLoginForm" accept-charset="UTF-8" class="contact-form">	
                          <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input type="text" asp-for="Username"  id="CustomerEmail" class="" autocorrect="off" autocapitalize="off" autofocus="">
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" asp-for="Password"  placeholder="" id="CustomerPassword" class="">                        	
                                </div>
                            </div>
                             <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                <div class="form-group">
                                   
                                     <input class="form-check-input" type="checkbox" value="YES" name="remember" id="form2Example34" checked />
                                     <label class="form-check-label" for="form2Example34"> Remember me </label>
                                </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Sign In">
                                <p class="mb-4">
									<a href="#" id="RecoverPassword">Forgot your password?</a> &nbsp; | &nbsp;
								    <a asp-action="Register" asp-controller="LoginRegisteration" id="customer_register_link">Create account</a>
                                </p>
                            </div>
                         </div>
                     </form>
                    </div>
               	</div>
            </div>
        </div>
        
    </div>
    <!--End Body Content-->
    
<script>

    var alt= "@((string)ViewData["mess"])";

        if (alt =="Done") {
            Swal.fire(
                'Added successfully!',
                'You clicked the button!',
                'success'
            )
        }
</script>