@model Market_Store.Models.Usert
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutHomePanel.cshtml";
}


<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Create an Account</h1></div>
        </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 main-col offset-md-3">
                <div class="mb-4">
                    <form asp-action="Register" asp-controller="LoginRegisteration"  class="contact-form" enctype="multipart/form-data">
                        <div class="row">
                             <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label asp-for="ImageFile"></label>
                                    <input asp-for="ImageFile" class="form-control" id="imageFile">
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                </div>
                            </div>
                              <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                             <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Fullname"></label>
                                    <input type="text" asp-for="Fullname" class="form-control" id="fullName">
                                    <span asp-validation-for="Fullname" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Phonenumber"></label>
                                    <input asp-for="Phonenumber" class="form-control" id="phone">
                                    <span asp-validation-for="Phonenumber" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Barthday"></label>
                                    <input type="date" asp-for="Barthday" class="form-control" id="barthday">
                                    <span asp-validation-for="Barthday" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Gender" class="control-label"></label>
                                    <select asp-for="Gender" class="form-control" id="gender">
                                        <option>Male</option>
                                        <option>Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row gutters">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <h6 class="mt-3 mb-2 text-primary">Security Details</h6>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input asp-for="Username" class="form-control" id="username"  onchange="IsUsernameExist()">
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                    <p id="checkUsername"></p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input asp-for="Email" class="form-control" id="email" onchange="IsEmailExist()">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <p id="checkEmail"> </p >
                                </div>
                            </div>
                       
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" asp-for="Password" class="form-control" id="password" onkeyup="IsMatch()">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                   
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12">
								<div class="form-group">
									<label>Comfirm Password</label>
									<input type="password" class="form-control" id="confirmPassword" onkeyup="IsMatch()">
									<p id="messMatch"></p>
								</div>
                            </div>
                        </div>
                          
                        <div class="row">
                            <div class="text-center col-12 col-sm-12 col-md-12 col-lg-12">
                                <input type="submit" class="btn mb-3" value="Create" onclick="Register()">
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Body Content-->

 <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
@*<script type="text/javascript" src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>*@


<script type="text/javascript" src="~/js/myJs_site.js"></script>
